
.idea/.name
.idea/ExchangeFlightTicket.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml___jb_old___
.idea/vcs.xml
__pycache__/main.cpython-36.pyc
__pycache__/sheet.cpython-36.pyc
build/main/base_library.zip
build/main/main.exe.manifest
build/main/out00-Analysis.toc
build/main/out00-EXE.toc
build/main/out00-PKG.pkg
build/main/out00-PKG.toc
build/main/out00-PYZ.pyz
build/main/out00-PYZ.toc
build/main/warnmain.txt
build/main/xref-main.html
CGB-BIO.xls
CGB-NYC.xls
dist/main.exe
pesquisa.xls
test.xls
main.spec
